:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --white-color: #FFFFFF;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --indent: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: var(--primery-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

/* --- reset --- */
h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}
.link--current {
  color: var(--accent-color);
}
.link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  display: inline-block;
  background-color: var(--accent-color);
  border-radius: 2px;
}
@media screen and (max-width: 767px) {
  .link--current::after {
    display: none;
  }
}
.link:hover, .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.list {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {
  background: var(--white-color);
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}
@media screen and (max-width: 767px) {
  .card-set__item {
    -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
        flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }
}
@media screen and (min-width: 768px) {
  .card-set__item {
    -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
        flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item {
    -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
        flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--white-color);
  -webkit-transition: color, background-color var(--animation);
  transition: color, background-color var(--animation);
  cursor: pointer;
}
.button--button-submit {
  fill: var(--white-color);
  background-color: var(--accent-color);
}
.button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.button--button-blue {
  background: #188CE8;
}

.conteiner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 320px) {
  .conteiner {
    width: 100%;
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
  }
}

/*.section {
    padding: 94px 0;               
}*/
.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  /*@media screen and (min-width:768px) and (max-width: 1199px) {
  margin-bottom: 20px;
  }*/
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo--black {
  color: #000000;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.logo--black:hover, .logo--black:focus {
  color: var(--accent-color);
}
.logo--white {
  color: var(--white-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.logo--white:hover, .logo--white:focus {
  color: var(--accent-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .nav__page {
    margin-bottom: 32px;
  }
  .nav__page:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .nav__page {
    margin-right: 50px;
  }
  .nav__page:last-child {
    margin-right: 0;
  }
}
.nav__page .link:hover, .nav__page .link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .nav {
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}
.nav__site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 0;
  margin-bottom: 302px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .nav__site-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
    margin-right: 84px;
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .nav__site-nav {
    margin-right: 315px;
    font-size: 14px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__site-nav .link {
    padding-top: 31px;
    padding-bottom: 31px;
    color: var(--primery-text-color);
  }
}
.nav__auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .nav__auth-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .nav__auth-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (max-width: 767px) {
  .nav__auth-nav .nav__page {
    margin-bottom: 32px;
  }
  .nav__auth-nav .nav__page:not(:last-child) {
    margin-bottom: 0;
  }
}
.nav__site-nav .link {
  display: block;
  /*padding-top: 31px;
  padding-bottom: 31px;*/
  color: var(--title-text-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
  color: var(--title-text-color);
}
.nav__site-nav .link:hover, .nav__site-nav .link:focus {
  color: var(--accent-color);
}
.nav__site-nav .link--current {
  position: relative;
  display: block;
  color: var(--accent-color);
  text-decoration: none;
}
.nav__auth-nav .nav__page:not(:last-child) {
  margin-right: 50px;
}
.nav__page-mail {
  margin-bottom: 0px;
  margin-right: 0;
  font-size: 24px;
  line-height: 1.17;
}
.nav__page-mail .link {
  color: var(--primery-text-color);
}
@media screen and (min-width: 768px) {
  .nav__page-mail {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .nav__page-mail {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.nav__page-phone {
  margin-right: 0;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .nav__page-phone {
    font-size: 12px;
    line-height: 1.17;
  }
}
.nav__page-phone .link {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .nav__page-phone .link {
    color: var(--primery-text-color);
  }
}
.nav__icon {
  margin-right: 10px;
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__icon {
    display: block;
  }
}
.nav__connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color, fill var(--animation);
  transition: color, fill var(--animation);
}
.nav__connection-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__connection-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .nav__social {
    display: none;
  }
}
.nav__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;
  color: var(--accent-color);
}
.nav__item:last-child {
  border: none;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  -webkit-transition: color, background-color, border-radius var(--animation);
  transition: color, background-color, border-radius var(--animation);
}
.social-media__link:hover, .social-media__link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 50%;
}
.social-media__item:not(:last-child) {
  margin-right: 10px;
}
.social-media__icon {
  fill: currentColor;
}
.social-media__link--round {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
}

.box {
  --items: 2;
}
@media screen and (min-width: 768px) {
  .box {
    --items: 3;
  }
}
@media screen and (min-width: 1200px) {
  .box {
    --items: 6;
  }
}
.box__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid;
  border-color: #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition: fill, border-color var(--animation);
  transition: fill, border-color var(--animation);
}
.box__logo:hover, .box__logo:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.box__logo--shadow {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  list-style: none;
}
@media screen and (min-width: 1200px) {
  .contact {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.contact__adress {
  display: block;
  color: var(--white-color);
  font-style: normal;
}
.contact__connection {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.contact__connection:hover, .contact__connection:focus {
  color: var(--accent-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .section-title {
    font-size: 28px;
    line-height: 1.2;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}
.portfolio__project:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: visible;
  visibility: initial;
  opacity: 1;
  -webkit-transition: opacity var(--animation), visibility var(--animation);
  transition: opacity var(--animation), visibility var(--animation);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 0;
  -webkit-transform: translate(-25%, 25%);
          transform: translate(-25%, 25%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
  cursor: pointer;
}
.modal-close:hover > svg, .modal-close:focus > svg {
  fill: var(--accent-color);
}

.form {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}
.form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form__text {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}
.form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: var(--title-text-color);
}
.form__input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  padding-right: 5px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  outline: transparent;
  -webkit-transition: border-color var(--animation), fill var(--animation);
  transition: border-color var(--animation), fill var(--animation);
}
.form__input:hover, .form__input:focus-within + .form__icon {
  fill: var(--accent-color);
}
.form__input:focus {
  border-color: var(--accent-color);
}
.form__comment {
  width: 448px;
  height: 120px;
  padding: 12px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  outline: transparent;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
.form__comment:focus {
  border-color: var(--accent-color);
}
.form__link {
  color: var(--accent-color);
  text-decoration: underline;
}
.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  padding: 10px 55px;
}
.form__label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
.form__check {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 8.38px;
  width: 16px;
  height: 15px;
  outline: 2px solid var(--title-text-color);
  fill: var(--white-color);
  -webkit-transition: background-color var(--animation), outline var(--animation);
  transition: background-color var(--animation), outline var(--animation);
}
.form__checkbox:checked + .form__check {
  background-color: var(--accent-color);
  outline: transparent;
}
.form__agreement {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.menu-btn {
  top: 0;
  right: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 10px 0;
  fill: var(--title-text-color);
  background-color: transparent;
  border: none;
}
.menu-btn:focus {
  fill: var(--accent-color);
}
.menu-btn .menu-btn__cross {
  display: none;
}
.menu-btn.is-open .menu-btn__cross {
  display: block;
}
.menu-btn.is-open .menu-btn__menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-conteiner {
  display: none;
  text-align: center;
  background-color: var(--white-color);
}
@media screen and (max-width: 767px) {
  .menu-conteiner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}
.menu-conteiner.is-open {
  display: block;
}
@media screen and (min-width: 768px) {
  .menu-conteiner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .menu-conteiner {
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .menu-conteiner {
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}
@media screen and (min-width: 768px) {
  .menu-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .menu-conteiner .link {
    padding-top: 31px;
    padding-bottom: 31px;
  }
}

.page-header {
  position: relative;
  margin: 0 auto;
  /*padding: 16px 15px;*/
  border-bottom: 1px solid #ECECEC;
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 70px;
  width: 206px;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .networks {
    margin-left: 165px;
  }
}
@media screen and (min-width: 768px) {
  .networks {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.networks__social-media {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
}
.networks__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (max-width: 767px) {
  .networks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
    margin-left: 0;
  }
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0;
  background: #2F303A;
}
@media screen and (min-width: 1200px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.page-footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 767px) {
  .page-footer__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .page-footer__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.page-footer .conteiner {
  margin: 0;
}
.page-footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-footer__logo .logo {
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .page-footer__logo {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.page-footer__link {
  display: block;
  padding-left: 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .page-footer__link {
    text-align: start;
  }
}

.email {
  /*margin-left: 93px;

  width: 570px;
  height: 86px;*/
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .email {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 0;
    width: 570px;
    height: 86px;
    margin-left: 93px;
  }
}
.email__title {
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-transform: uppercase;
}
.email__subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 20px;
}
@media screen and (max-width: 1199px) {
  .email__subscription {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.email__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  margin-left: 12px;
}
@media screen and (max-width: 1199px) {
  .email__button {
    margin-left: 0;
    margin-top: 20px;
  }
}
.email__field {
  padding-left: 16px;
  padding-right: 5px;
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .email__field {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .email__field {
    min-width: 358px;
  }
}
.email__field::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.email__field::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.email__field:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.email__field::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.email__field::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.party {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #F5F4FA;
}
@media screen and (min-width: 768px) {
  .party {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .party {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.party__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio {
  padding: 94px 0;
}
.portfolio__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.portfolio__nav .portfolio__filter:not(:last-child) {
  margin-right: 8px;
}
.portfolio__button {
  text-align: center;
  min-width: 73px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-color: transparent;
  color: var(--title-text-color);
  background-color: var(-- #F5F4FA);
  -webkit-transition: color, background-color var(--animation);
  transition: color, background-color var(--animation);
  cursor: pointer;
}
.portfolio__button--primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__button:hover, .portfolio__button:focus {
  background: var(--accent-color);
  color: var(--white-color);
}
.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio__caption {
  padding: 20px 24px;
}
.portfolio__subtitle {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.portfolio__text {
  color: var(--primery-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.portfolio__project {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
}
.portfolio__project:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__project:nth-child(3n) {
  margin-right: 0px;
}
.portfolio__project:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio__img {
  position: relative;
  overflow: hidden;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: #C4C4C4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/Img\(14\).jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/Img\(14\).jpg);
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.hero__button {
  display: inline-block;
}
.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
  color: var(--white-color);
}

.presentation {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .presentation {
    display: none;
  }
}
.presentation .item {
  width: 370px;
}
.presentation__imeg {
  position: relative;
}
.presentation__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}

.peculiarities {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .peculiarities {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.peculiarities__list {
  --items: 1;
}
@media screen and (min-width: 768px) {
  .peculiarities__list {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities__list {
    --items: 4;
  }
}
.peculiarities__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--title-text-color);
  background: #F5F4FA;
  border-radius: 4px;
  background-size: contain;
}
.peculiarities__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.peculiarities__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.team {
  --items: 1;
}
@media screen and (min-width: 768px) {
  .team {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    --items: 4;
  }
}
.team__item {
  background: var(--white-color);
}
.team__item--shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.team__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.team__desc {
  padding-top: 30px;
  padding-bottom: 30px;
}/*# sourceMappingURL=main.css.map */