.menu-btn {
    top: 0;
    right: 0;
    justify-content: space-between;
    z-index: 100;
    display: inline-flex;
    margin: 0;
    padding: 10px 0;

    fill: var(--title-text-color);
    background-color: transparent;
    border: none;
    
    &:focus {
        fill: var(--accent-color);
    }

        & .menu-btn__cross {
            display: none;
        }
        &.is-open .menu-btn__cross {
            display: block;
        }
        &.is-open .menu-btn__menu {
            display: none;
        }

        @media screen and (min-width:768px) {
            display: none;
        }
}

