.email {
    /*margin-left: 93px;

    width: 570px;
    height: 86px;*/
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

    @media screen and (min-width:1200px) {
        align-items: flex-start;
        margin-top: 0;
        width: 570px;
        height: 86px;
        margin-left: 93px;
    }

&__title {
    margin-top: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--white-color);
    text-transform: uppercase;
    }

&__subscription {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;

    @media screen and (max-width:1199px) {
        flex-direction: column;
    }
}

&__button {
    display: flex;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 28px;
    margin-left: 12px;

    @media screen and (max-width:1199px) {
        margin-left: 0;
        margin-top: 20px;
    }
}

&__field {
    padding-left: 16px;
    padding-right: 5px;

    width: 100%;
    height: 50px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: #2F303A;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 450px;
    }

    @media screen and (min-width:768px) {
        min-width: 358px;
    }
}

&__field::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

}