.page-footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;

    &__conteiner {
            display: flex;
            align-items: baseline;
        }
}